.swiper-slide-bg {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  
  align-items: center;
}


.text-container {
  width: 600px;
  color: white;
}

.text-container h1 {
  font-size: 2rem;
  font-weight: bold;
}

.text-container p {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.25rem 0;
}

.text-container button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #60a5fa;
  cursor: pointer;
}

.text-container button:hover {
  background-color: #3b82f6;
}
